{% extends 'base.html.twig' %}

{% block title %}
    Movies page
{% endblock %}

{% block body %}

    <h1 class="bg-blue-400 p-4 w-full text-white text-center font-bold">
        This is awesome
    </h1>
    
{% endblock %}